.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

form {
  width: 50%;
  margin: 30px auto;
  padding: 0;
}

input {
  margin: 5px 0 30px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #aaa;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  letter-spacing: 1px;
}
label {
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

button {
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
}
